body {
  background-color:#ffffff;
}
h1 {color:#ff0000;} 

h2 {color:#213172;}

p {color:#12CB0D}

.leadGraph {background-color: #000;color: #ffffff; font-weight: bold; font-size: 1.25rem; padding: 20px}

.leadPhoto {margin:30px 40px 600px 40px;}