body {
  font-family: 'Montserrat', sans-serif;
  margin: 40px;
  line-height: 1.6;
  background-color: #eaf6ff;  /* soft light blue */
  color: #003049;             /* deep navy blue */
}

.headerBox {
  text-align: center;
  margin-bottom: 30px;
  background-color: #bde0fe;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  margin-bottom: 10px;
  color: #023e8a;
}

h2 {
  color: #0077b6;
}

.leadPhoto {
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.leadGraph {
  font-weight: 600;
}

a {
  display: inline-block;
  margin-top: 20px;
  color: #0077b6;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #023e8a;
  text-decoration: underline;
}

.tiktok-section {
  background-color: #dbeeff;
  padding: 40px;
  margin-top: 45px;
  border-radius: 15px;
  text-align: center;
}

.section-title {
  font-family: 'Playfair Display', serif;
  color: #023e8a;
  font-size: 28px;
  margin-bottom: 25px;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.gallery img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.mediaheaderBox {
  text-align: center;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
}

